<!-- Start Banner -->
<div class="sm:mx-auto sm:container px-6 xl:px-0 -mb-20">
    <div class="flex items-center justify-between md:flex-row flex-col py-12 space-y-6 md:space-y-0 w-full">
        <div class="hidden md:block">
            <img class="hidden xl:block w-full"
                src="https://i.ibb.co/ZcSmVGf/behzad-ghaffarian-nh-Wg-ZNV85-LQ-unsplash-1-1.png"
                alt="behzad-ghaffarian-nh-Wg-ZNV85-LQ-unsplash-1-1" />
            <img class="xl:hidden w-full"
                src="https://i.ibb.co/mBk8myg/behzad-ghaffarian-nh-Wg-ZNV85-LQ-unsplash-1-1-1.png"
                alt="behzad-ghaffarian-nh-Wg-ZNV85-LQ-unsplash-1-1-1" />
        </div>
        <div class="flex justify-center items-center flex-col xl:w-2/5 md:px-6 sm:w-3/4 md:w-2/4">
            <div class="">
                <h1 class="xl:text-4xl text-3xl font-semibold leading-9 text-gray-800 dark:text-white">Act
                    before it’s too late!</h1>
            </div>
            <div class="mt-4">
                <p class="xl:text-xl text-base leading-7 text-center text-gray-600 dark:text-white">Furniture
                    that looks modern and is comfortable as well. Avail the 50% offer now.</p>
            </div>
            <div class="mt-8 flex justify-center items-center w-full">
                <button
                    class="hover:opacity-75 flex justify-center bg-gray-800 dark:bg-white dark:hover:bg-gray-100 dark:text-gray-900 sm:w-32 w-full h-10 py-3">
                    <p class="text-base font-medium leading-none text-white dark:text-gray-900">Explore</p>
                </button>
            </div>
        </div>
        <div class="flex md:w-auto w-full justify-center flex-row space-x-4 md:space-x-0">
            <div class="w-full">
                <img class="hidden xl:block w-full"
                    src="https://i.ibb.co/kg4KPBG/sven-brandsma-Qz6-Zx4-Rjd-D8-unsplash-1.png"
                    alt="behzad-ghaffarian-nh-Wg-ZNV85-LQ-unsplash-1-1" />
                <img class="xl:hidden w-full" src="https://i.ibb.co/JjMcGH1/sven-brandsma-Qz6-Zx4-Rjd-D8-unsplash-1.png"
                    alt="sven-brandsma-Qz6-Zx4-Rjd-D8-unsplash-1" />
            </div>
            <div class="md:hidden w-full">
                <img class="hidden xl:block w-full"
                    src="https://i.ibb.co/ZcSmVGf/behzad-ghaffarian-nh-Wg-ZNV85-LQ-unsplash-1-1.png"
                    alt="behzad-ghaffarian-nh-Wg-ZNV85-LQ-unsplash-1-1" />
                <img class="xl:hidden w-full"
                    src="https://i.ibb.co/mBk8myg/behzad-ghaffarian-nh-Wg-ZNV85-LQ-unsplash-1-1-1.png"
                    alt="behzad-ghaffarian-nh-Wg-ZNV85-LQ-unsplash-1-1-1" />
            </div>
        </div>
    </div>
</div>
<!-- End Banner -->

<!-- Start Highlights -->

<div class="2xl:container 2xl:mx-auto md:py-12 py-4">
    <div
        class="bg-gray-50 dark:bg-gray-800 grid lg:grid-cols-4 md:grid-cols-2 grid-cols-1 lg:gap-8 md:gap-12 gap-14 lg:px-20 lg:py-12 py-10 md:px-12 px-4">
        <!-- Delivery grid Card -->
        <div class="">
            <img class="dark:hidden" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/highlight-1-svg1.svg"
                alt="delivery">
            <img class="dark:block hidden" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/highlight-1-svg1dark.svg"
                alt="delivery">
            <h3 class="text-xl leading-5 dark:text-white font-semibold text-gray-800 lg:mt-10 mt-8">Delivery
            </h3>
            <p class="text-base leading-6 font-normal dark:text-gray-300 text-gray-600 mt-4 lg:w-full md:w-9/12 w-full">
                Free worldwide delivery over orders above $100</p>
        </div>

        <!-- customer Grid Card -->

        <div class="">
            <img class="dark:hidden" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/highlight-1-svg2.svg"
                alt="Customer Care">
            <img class="dark:block hidden" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/highlight-1-svg2dark.svg"
                alt="Customer Care">
            <h3 class="text-xl leading-5 dark:text-white font-semibold text-gray-800 lg:mt-10 mt-8">Customer
                Care</h3>
            <p class="text-base leading-6 font-normal dark:text-gray-300 text-gray-600 mt-4 lg:w-full md:w-9/12 w-full">
                Our customer care is available 24/7 at <span class="font-semibold cursor-pointer">+495-589-509</span>
                and <span class="font-semibold cursor-pointer">customercare@gmail.com</span></p>
        </div>

        <!-- Recycle Grid Card -->

        <div class="">
            <img class="dark:hidden" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/highlight-1-svg3.svg"
                alt="Recycle">
            <img class="dark:block hidden" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/highlight-1-svg3dark.svg"
                alt="Recycle">
            <h3 class="text-xl leading-5 dark:text-white font-semibold text-gray-800 lg:mt-10 mt-8">Recycle</h3>
            <p class="text-base leading-6 font-normal dark:text-gray-300 text-gray-600 mt-4 lg:w-full md:w-9/12 w-full">
                All out products are 100 percent recycable</p>
        </div>

        <!-- Secure Payment Card -->

        <div class="">
            <img class="dark:hidden" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/highlight-1-svg4.svg"
                alt="Secure Payment">
            <img class="dark:block hidden" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/highlight-1-svg4dark.svg"
                alt="Secure Payment">
            <h3 class="text-xl leading-5 dark:text-white font-semibold text-gray-800 lg:mt-10 mt-8">Secure
                Payment</h3>
            <p class="text-base leading-6 font-normal dark:text-gray-300 text-gray-600 mt-4 lg:w-full md:w-9/12 w-full">
                Transaction process has end to end encryption</p>
        </div>
    </div>
</div>
<!-- End Highlights -->

<!-- Start Carousel -->

<div class="flex items-center justify-center w-full h-full py-24 sm:py-8 px-4">
    <div class="w-full relative flex items-center justify-center">
        <button aria-label="slide backward" onclick="goPrev()"
            class="absolute z-30 left-0 ml-10 focus:outline-none focus:bg-gray-400 focus:ring-2 focus:ring-offset-2 focus:ring-gray-400 cursor-pointer"
            id="prev">
            <svg class="dark:text-gray-900" width="8" height="14" viewBox="0 0 8 14" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M7 1L1 7L7 13" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
            </svg>
        </button>
        <div class="w-full h-full mx-auto overflow-x-hidden overflow-y-hidden">
            <div id="slider"
                class="h-full flex lg:gap-8 md:gap-6 gap-14 items-center justify-start transition ease-out duration-700">
                <div class="flex flex-shrink-0 relative w-full sm:w-auto">
                    <img src="https://i.ibb.co/fDngH9G/carosel-1.png" alt="black chair and white table"
                        class="object-cover object-center w-full" />
                    <div class="bg-gray-800 bg-opacity-30 absolute w-full h-full p-6">
                        <h2 class="lg:text-xl leading-4 text-base lg:leading-5 text-white dark:text-gray-900">
                            Catalog 1</h2>
                        <div class="flex h-full items-end pb-6">
                            <h3
                                class="text-xl lg:text-2xl font-semibold leading-5 lg:leading-6 text-white dark:text-gray-900">
                                Minimal Interior</h3>
                        </div>
                    </div>
                </div>
                <div class="flex flex-shrink-0 relative w-full sm:w-auto">
                    <img src="https://i.ibb.co/DWrGxX6/carosel-2.png" alt="sitting area"
                        class="object-cover object-center w-full" />
                    <div class="bg-gray-800 bg-opacity-30 absolute w-full h-full p-6">
                        <h2 class="lg:text-xl leading-4 text-base lg:leading-5 text-white dark:text-gray-900">
                            Catalog 2</h2>
                        <div class="flex h-full items-end pb-6">
                            <h3
                                class="text-xl lg:text-2xl font-semibold leading-5 lg:leading-6 text-white dark:text-gray-900">
                                Minimal Interior</h3>
                        </div>
                    </div>
                </div>
                <div class="flex flex-shrink-0 relative w-full sm:w-auto">
                    <img src="https://i.ibb.co/tCfVky2/carosel-3.png" alt="sitting area"
                        class="object-cover object-center w-full" />
                    <div class="bg-gray-800 bg-opacity-30 absolute w-full h-full p-6">
                        <h2 class="lg:text-xl leading-4 text-base lg:leading-5 text-white dark:text-gray-900">
                            Catalog 2</h2>
                        <div class="flex h-full items-end pb-6">
                            <h3
                                class="text-xl lg:text-2xl font-semibold leading-5 lg:leading-6 text-white dark:text-gray-900">
                                Minimal Interior</h3>
                        </div>
                    </div>
                </div>
                <div class="flex flex-shrink-0 relative w-full sm:w-auto">
                    <img src="https://i.ibb.co/rFsGfr5/carosel-4.png" alt="sitting area"
                        class="object-cover object-center w-full" />
                    <div class="bg-gray-800 bg-opacity-30 absolute w-full h-full p-6">
                        <h2 class="lg:text-xl leading-4 text-base lg:leading-5 text-white dark:text-gray-900">
                            Catalog 2</h2>
                        <div class="flex h-full items-end pb-6">
                            <h3
                                class="text-xl lg:text-2xl font-semibold leading-5 lg:leading-6 text-white dark:text-gray-900">
                                Minimal Interior</h3>
                        </div>
                    </div>
                </div>
                <div class="flex flex-shrink-0 relative w-full sm:w-auto">
                    <img src="https://i.ibb.co/fDngH9G/carosel-1.png" alt="black chair and white table"
                        class="object-cover object-center w-full" />
                    <div class="bg-gray-800 bg-opacity-30 absolute w-full h-full p-6">
                        <h2 class="lg:text-xl leading-4 text-base lg:leading-5 text-white dark:text-gray-900">
                            Catalog 2</h2>
                        <div class="flex h-full items-end pb-6">
                            <h3
                                class="text-xl lg:text-2xl font-semibold leading-5 lg:leading-6 text-white dark:text-gray-900">
                                Minimal Interior</h3>
                        </div>
                    </div>
                </div>
                <div class="flex flex-shrink-0 relative w-full sm:w-auto">
                    <img src="https://i.ibb.co/DWrGxX6/carosel-2.png" alt="sitting area"
                        class="object-cover object-center w-full" />
                    <div class="bg-gray-800 bg-opacity-30 absolute w-full h-full p-6">
                        <h2 class="lg:text-xl leading-4 text-base lg:leading-5 text-white dark:text-gray-900">
                            Catalog 2</h2>
                        <div class="flex h-full items-end pb-6">
                            <h3
                                class="text-xl lg:text-2xl font-semibold leading-5 lg:leading-6 text-white dark:text-gray-900">
                                Minimal Interior</h3>
                        </div>
                    </div>
                </div>
                <div class="flex flex-shrink-0 relative w-full sm:w-auto">
                    <img src="https://i.ibb.co/tCfVky2/carosel-3.png" alt="sitting area"
                        class="object-cover object-center w-full" />
                    <div class="bg-gray-800 bg-opacity-30 absolute w-full h-full p-6">
                        <h2 class="lg:text-xl leading-4 text-base lg:leading-5 text-white dark:text-gray-900">
                            Catalog 2</h2>
                        <div class="flex h-full items-end pb-6">
                            <h3
                                class="text-xl lg:text-2xl font-semibold leading-5 lg:leading-6 text-white dark:text-gray-900">
                                Minimal Interior</h3>
                        </div>
                    </div>
                </div>
                <div class="flex flex-shrink-0 relative w-full sm:w-auto">
                    <img src="https://i.ibb.co/rFsGfr5/carosel-4.png" alt="sitting area"
                        class="object-cover object-center w-full" />
                    <div class="bg-gray-800 bg-opacity-30 absolute w-full h-full p-6">
                        <h2 class="lg:text-xl leading-4 text-base lg:leading-5 text-white dark:text-gray-900">
                            Catalog 2</h2>
                        <div class="flex h-full items-end pb-6">
                            <h3
                                class="text-xl lg:text-2xl font-semibold leading-5 lg:leading-6 text-white dark:text-gray-900">
                                Minimal Interior</h3>
                        </div>
                    </div>
                </div>
                <div class="flex flex-shrink-0 relative w-full sm:w-auto">
                    <img src="https://i.ibb.co/fDngH9G/carosel-1.png" alt="black chair and white table"
                        class="object-cover object-center w-full" />
                    <div class="bg-gray-800 bg-opacity-30 absolute w-full h-full p-6">
                        <h2 class="lg:text-xl leading-4 text-base lg:leading-5 text-white dark:text-gray-900">
                            Catalog 2</h2>
                        <div class="flex h-full items-end pb-6">
                            <h3
                                class="text-xl lg:text-2xl font-semibold leading-5 lg:leading-6 text-white dark:text-gray-900">
                                Minimal Interior</h3>
                        </div>
                    </div>
                </div>
                <div class="flex flex-shrink-0 relative w-full sm:w-auto">
                    <img src="https://i.ibb.co/DWrGxX6/carosel-2.png" alt="sitting area"
                        class="object-cover object-center w-full" />
                    <div class="bg-gray-800 bg-opacity-30 absolute w-full h-full p-6">
                        <h2 class="lg:text-xl leading-4 text-base lg:leading-5 text-white dark:text-gray-900">
                            Catalog 2</h2>
                        <div class="flex h-full items-end pb-6">
                            <h3
                                class="text-xl lg:text-2xl font-semibold leading-5 lg:leading-6 text-white dark:text-gray-900">
                                Minimal Interior</h3>
                        </div>
                    </div>
                </div>
                <div class="flex flex-shrink-0 relative w-full sm:w-auto">
                    <img src="https://i.ibb.co/tCfVky2/carosel-3.png" alt="sitting area"
                        class="object-cover object-center w-full" />
                    <div class="bg-gray-800 bg-opacity-30 absolute w-full h-full p-6">
                        <h2 class="lg:text-xl leading-4 text-base lg:leading-5 text-white dark:text-gray-900">
                            Catalog 2</h2>
                        <div class="flex h-full items-end pb-6">
                            <h3
                                class="text-xl lg:text-2xl font-semibold leading-5 lg:leading-6 text-white dark:text-gray-900">
                                Minimal Interior</h3>
                        </div>
                    </div>
                </div>
                <div class="flex flex-shrink-0 relative w-full sm:w-auto">
                    <img src="https://i.ibb.co/rFsGfr5/carosel-4.png" alt="sitting area"
                        class="object-cover object-center w-full" />
                    <div class="bg-gray-800 bg-opacity-30 absolute w-full h-full p-6">
                        <h2 class="lg:text-xl leading-4 text-base lg:leading-5 text-white dark:text-gray-900">
                            Catalog 2</h2>
                        <div class="flex h-full items-end pb-6">
                            <h3
                                class="text-xl lg:text-2xl font-semibold leading-5 lg:leading-6 text-white dark:text-gray-900">
                                Minimal Interior</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button aria-label="slide forward"
            class="absolute z-30 right-0 mr-10 focus:outline-none focus:bg-gray-400 focus:ring-2 focus:ring-offset-2 focus:ring-gray-400"
            id="next" onclick="goNext()">
            <svg class="dark:text-gray-900" width="8" height="14" viewBox="0 0 8 14" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M1 1L7 7L1 13" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
            </svg>
        </button>
    </div>
</div>

<!-- End Carousel -->

<!-- Start Best Sellers -->

<div class="pb-14">
    <div
        class="bg-gray-100 dark:bg-gray-800 flex flex-col justify-center items-center pt-9 sm:pt-12 lg:pt-16 pb-24 sm:pb-52">
        <div
            class="2xl:container 2xl:mx-auto flex flex-col justify-center items-center sm:pb-12 lg:pb-0 space-y-4 px-4 md:px-6 2xl:px-0">
            <div>
                <p class="text-3xl lg:text-4xl font-semibold leading-9 text-center text-gray-800 dark:text-gray-50">
                    Best Seller Products</p>
            </div>
            <div>
                <p
                    class="text-base leading-normal sm:leading-none text-center text-gray-600 dark:text-white dark:text-white">
                    Explore products that are bought most frequently by people</p>
            </div>
        </div>
    </div>
    <div
        class="-mt-16 sm:-mt-48 lg:-mt-32 xl:-mt-40 2xl:container 2xl:mx-auto flex justify-center items-center space-y-4 px-4 md:px-6 2xl:px-0 mb-16">
        <div ng-controller="addCartController" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 justify-items-between gap-x-6 gap-y-5">
            <div ng-repeat="bestPrd in bestSellerList"
                class="flex flex-col justify-center items-start p-2 bg-white dark:bg-gray-900">
                <div class="relative">
                    <img class="hidden lg:block" src="{{ bestPrd.img }}" alt="watch" />
                    <img class="lg:hidden" src="{{ bestPrd.img }}" alt="watch" />

                    <button  ng-click="addToCart(bestPrd)"
                        class="top-4 right-4 absolute p-3.5 text-gray-600 dark:text-white hover:text-gray-500 flex justify-center items-center bg-white dark:bg-gray-900 rounded-full">
                        <svg class="fill-stroke" width="20" height="20" viewBox="0 0 20 20" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M6.25 6.875V5.625C6.25 4.63044 6.64509 3.67661 7.34835 2.97335C8.05161 2.27009 9.00544 1.875 10 1.875V1.875C10.9946 1.875 11.9484 2.27009 12.6517 2.97335C13.3549 3.67661 13.75 4.63044 13.75 5.625V6.875M3.125 6.875C2.95924 6.875 2.80027 6.94085 2.68306 7.05806C2.56585 7.17527 2.5 7.33424 2.5 7.5V15.9375C2.5 17.1187 3.50625 18.125 4.6875 18.125H15.3125C16.4937 18.125 17.5 17.1676 17.5 15.9863V7.5C17.5 7.33424 17.4342 7.17527 17.3169 7.05806C17.1997 6.94085 17.0408 6.875 16.875 6.875H3.125Z"
                                stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path
                                d="M6.25 8.75V9.375C6.25 10.3696 6.64509 11.3234 7.34835 12.0267C8.05161 12.7299 9.00544 13.125 10 13.125C10.9946 13.125 11.9484 12.7299 12.6517 12.0267C13.3549 11.3234 13.75 10.3696 13.75 9.375V8.75"
                                stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg>
                    </button>
                    <div class="flex justify-between mt-4">
                        <div>
                            <p class="text-lg font-medium leading-none text-gray-800 dark:text-white">{{ bestPrd.name }}
                            </p>
                        </div>
                        <div>
                            <p class="text-lg leading-none text-right text-gray-600 dark:text-white">${{ bestPrd.price
                                }}</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- End Best Sellers -->

<!-- Start Partners -->

<div class="dark:bg-gray-800 ">
    <div
        class="grid xl:grid-cols-7 grid-cols-1 md:grid-cols-4 justify-items-center md:justify-items-start xl:justify-items-center md:py-12 gap-y-8 xl:gap-y-0 gap-x-20 py-9 2xl:container 2xl:mx-auto xl:px-20 md:px-6 px-28">
        <div class="text-gray-800 dark:text-white">
            <img class="dark:hidden" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/partners6-svg1.svg"
                alt="vogue logo" />
            <img class="hidden dark:block" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/partners6-svg1dark.svg"
                alt="vogue logo" />

        </div>
        <div class="text-gray-800 dark:text-white">
            <img class="dark:hidden" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/partners6-svg2.svg"
                alt="cosmopolitan logo" />
            <img class="hidden dark:block" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/partners6-svg2dark.svg"
                alt="cosmopolitan logo" />

        </div>
        <div class="text-gray-800 dark:text-white">
            <img class="dark:hidden" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/partners6-svg3.svg"
                alt="bazaar logo" />
            <img class="hidden dark:block" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/partners6-svg3dark.svg"
                alt="bazaar logo" />

        </div>
        <div class="text-gray-800 dark:text-white">
            <img class="dark:hidden" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/partners6-svg4.svg"
                alt="heavy logo" />
            <img class="hidden dark:block" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/partners6-svg4dark.svg"
                alt="heavy logo" />

        </div>
        <div class="text-gray-800 dark:text-white">
            <img class="dark:hidden" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/partners6-svg5.svg"
                alt="esquire logo" />
            <img class="hidden dark:block" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/partners6-svg5dark.svg"
                alt="esquire logo" />

        </div>
        <div class="text-gray-800 dark:text-white">
            <img class="dark:hidden" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/partners6-svg6.svg"
                alt="grazia logo" />
            <img class="hidden dark:block" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/partners6-svg6dark.svg"
                alt="grazia logo" />

        </div>
        <div class="text-gray-800 dark:text-white">
            <img class="dark:hidden" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/partners6-svg7.svg"
                alt="maria clarie logo" />
            <img class="hidden dark:block" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/partners6-svg7dark.svg"
                alt="maria clarie logo" />

        </div>
    </div>
</div>

<!-- End Partners  -->

<!-- Carousel -->
<script>
    openMenu = () => {
        document.getElementById("md-menu").classList.add("md:block");
    };
    closeMenu = () => {
        document.getElementById("md-menu").classList.remove("md:block");
    };
    openSearchMenu = () => {
        document.getElementById("mobile-search-menu").classList.remove("hidden");
    };
    closeSearchMenu = () => {
        document.getElementById("mobile-search-menu").classList.add("hidden");
    };
    openSmMenu = () => {
        document.getElementById("mobile-menu").classList.remove("hidden");
    };
    closeSmMenu = () => {
        document.getElementById("mobile-menu").classList.add("hidden");
    };

</script>
<!-- Carousel -->
<script>
    let defaultTransform = 0;
    function goNext() {
        defaultTransform = defaultTransform - 398;
        var slider = document.getElementById("slider");
        if (Math.abs(defaultTransform) >= slider.scrollWidth / 1.7) defaultTransform = 0;
        slider.style.transform = "translateX(" + defaultTransform + "px)";
    }
    // next.addEventListener("click", goNext);
    function goPrev() {
        var slider = document.getElementById("slider");
        if (Math.abs(defaultTransform) === 0) defaultTransform = 0;
        else defaultTransform = defaultTransform + 398;
        slider.style.transform = "translateX(" + defaultTransform + "px)";
    }
    // prev.addEventListener("click", goPrev);
</script>