<div class="dark:bg-gray-900 -mb-7" ng-controller="headerController">
    <div class="2xl:container 2xl:mx-auto md:py-5 lg:px-20 md:px-6 p-4">
        <div class="flex items-center justify-between">
            <div class="lg:w-3/12">
                <div class="w-52 hidden lg:flex items-center space-x-3 border-b border-gray-200 pb-2">
                    <div class="w-5">
                        <img class="w-5 dark:hidden"
                            src="https://tuk-cdn.s3.amazonaws.com/can-uploader/navigation-VI-svg1.svg" alt="Search">
                        <img class="w-5 dark:block hidden"
                            src="https://tuk-cdn.s3.amazonaws.com/can-uploader/navigation-VI-svg1dark.svg" alt="Search">
                    </div>
                    <input type="text" placeholder="Search for products"
                        class="bg-transparent text-sm text-gray-600 focus:outline-none" />
                </div>
                <button onclick="openMenu()" aria-label="Open Menu"
                    class="text-gray-800 dark:text-white hidden md:block lg:hidden focus:outline-none focus:ring-2 focus:ring-gray-800 rounded">
                    <img class="dark:hidden" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/navigation-VI-svg2.svg"
                        alt="toggler">
                    <img class="dark:block hidden"
                        src="https://tuk-cdn.s3.amazonaws.com/can-uploader/navigation-VI-svg2dark.svg" alt="toggler">
                </button>
                <button onclick="openSearchMenu()" aria-label="Search Menu"
                    class="text-gray-800 dark:text-white md:hidden focus:outline-none focus:ring-2 focus:ring-gray-800 rounded hover:bg-gray-100 p-0.5">
                    <img class="w-5 dark:hidden"
                        src="https://tuk-cdn.s3.amazonaws.com/can-uploader/navigation-VI-svg1.svg" alt="Search">
                    <img class="w-5 dark:block hidden"
                        src="https://tuk-cdn.s3.amazonaws.com/can-uploader/navigation-VI-svg1dark.svg" alt="Search">
                </button>
            </div>
            <div class="lg:w-6/12 flex flex-col justify-center items-center space-y-3.5">
                <div aria-label="Luxiwood. Logo" role="img" class="cursor-pointer">
                    <img class=" dark:hidden" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/navigation-VI-svg3.svg"
                        alt="Logo">
                    <img class=" dark:block hidden"
                        src="https://tuk-cdn.s3.amazonaws.com/can-uploader/navigation-VI-svg3dark.svg" alt="Logo">
                </div>
                <div class="hidden lg:block">
                    <ul class="flex items-center space-x-10">
                        <li>
                            <a href="#"
                                class="dark:text-white dark:hover:text-gray-300 text-base text-gray-800 focus:outline-none focus:ring-2 focus:ring-gray-800 hover:underline">Home</a>
                        </li>
                        <li>
                            <a href="#products"
                                class="dark:text-white dark:hover:text-gray-300 text-base text-gray-800 focus:outline-none focus:ring-2 focus:ring-gray-800 hover:underline">Shop</a>
                        </li>
                        <li>
                            <a href="#blogs"
                                class="dark:text-white dark:hover:text-gray-300 text-base text-gray-800 focus:outline-none focus:ring-2 focus:ring-gray-800 hover:underline">Blog</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"
                                class="dark:text-white dark:hover:text-gray-300 text-base text-gray-800 focus:outline-none focus:ring-2 focus:ring-gray-800 hover:underline">Contact
                                us</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="lg:w-3/12 flex justify-end items-center space-x-4">
                <a aria-label="view favourites"
                    class="hidden md:block focus:outline-none text-gray-800 dark:text-white focus:ring-2 focus:ring-gray-800 rounded hover:bg-gray-100 p-0.5"
                    href="javascript:void(0)">
                    <img class=" dark:hidden" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/navigation-VI-svg4.svg"
                        alt="favourites">
                    <img class=" dark:block hidden"
                        src="https://tuk-cdn.s3.amazonaws.com/can-uploader/navigation-VI-svg4dark.svg" alt="favourites">
                </a>
                <a aria-label="Shopping bag"
                    class="hidden md:block focus:outline-none text-gray-800 dark:text-white focus:ring-2 focus:ring-gray-800 rounded hover:bg-gray-100 p-0.5"
                    href="#cart">
                    <img class=" dark:hidden" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/navigation-VI-svg5.svg"
                        alt="bag">
                    <img class=" dark:block hidden"
                        src="https://tuk-cdn.s3.amazonaws.com/can-uploader/navigation-VI-svg5dark.svg" alt="bag">
                </a>
                <a ng-if="isLogin">
                    <button id="dropdownAvatarNameButton" data-dropdown-toggle="dropdownAvatarName"
                        class="flex items-center text-sm font-medium text-gray-900 rounded-full hover:text-blue-600 dark:hover:text-blue-500 md:mr-0 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:text-white"
                        type="button">
                        <span class="sr-only">Open user menu</span>
                        <img class="w-8 h-8 mr-2 rounded-full" src="{{ avatarUser }}" alt="user photo">
                        {{nameUser}}
                        <svg class="w-4 h-4 mx-1.5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </button>

                    <!-- Dropdown menu -->
                    <div id="dropdownAvatarName" ng-if="isLogin"
                        class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
                        <div class="px-4 py-3 text-sm text-gray-900 dark:text-white">
                            <div class="font-medium ">Email User: </div>
                            <div class="truncate">{{ email }}</div>
                        </div>
                        <ul class="py-2 text-sm text-gray-700 dark:text-gray-200"
                            aria-labelledby="dropdownInformdropdownAvatarNameButtonationButton">
                            <li>
                                <a href="/admin.html#/dashboard"
                                    class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Dashboard</a>
                            </li>
                            <li>
                                <a href="../changepassword.html"
                                    class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Settings
                                    Password</a>
                            </li>
                            <!-- <li>
                                <a href="#"
                                    class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Earnings</a>
                            </li> -->
                        </ul>
                        <div class="py-2">
                            <a onclick="logout()"
                                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Sign
                                out</a>
                        </div>
                    </div>

                </a>
                <a ng-if="!isLogin">
                    <button id="dropdownAvatarNameButton" data-dropdown-toggle="dropdownAvatarName"
                        class="flex items-center text-sm font-medium text-gray-900 rounded-full hover:text-blue-600 dark:hover:text-blue-500 md:mr-0 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:text-white"
                        type="button">
                        <span class="sr-only">Open user menu</span>
                        <img class="w-8 h-8 mr-2 rounded-full"
                            src="https://static.vecteezy.com/system/resources/previews/000/439/863/original/vector-users-icon.jpg"
                            alt="user photo">
                        Đăng nhập
                        <svg class="w-4 h-4 mx-1.5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </button>

                    <!-- Dropdown menu -->
                    <div id="dropdownAvatarName" ng-if="!isLogin"
                        class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
                        <ul class="py-2 text-sm text-gray-700 dark:text-gray-200"
                            aria-labelledby="dropdownInformdropdownAvatarNameButtonationButton">
                            <li>
                                <a href="../login.html"
                                    class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Login</a>
                            </li>
                            <li>
                                <a href="../register.html"
                                    class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Register</a>
                            </li>
                        </ul>
                    </div>

                </a>
                <button onclick="openSmMenu()" aria-label="open menu"
                    class="text-gray-800 dark:text-white md:hidden focus:outline-none focus:ring-2 focus:ring-gray-800 rounded hover:bg-gray-100 p-0.5">
                    <img class="dark:hidden" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/navigation-VI-svg2.svg"
                        alt="toggler">
                    <img class="dark:block hidden"
                        src="https://tuk-cdn.s3.amazonaws.com/can-uploader/navigation-VI-svg2dark.svg" alt="toggler">
                </button>
            </div>
        </div>

        <div id="md-menu"
            class="hidden lg:hidden absolute z-10 inset-0 h-screen w-full dark:bg-gray-800 bg-gray-800 bg-opacity-70 dark:bg-opacity-70">
            <div class="relative w-full h-screen">
                <div class="absolute inset-0 w-1/2 bg-white dark:bg-gray-900 p-6 justify-center">
                    <div class="flex items-center justify-between border-b pb-4 border-gray-200 dark:border-gray-700">
                        <div class="flex items-center space-x-3 mx-2">
                            <div>
                                <img class="w-5 dark:hidden"
                                    src="https://tuk-cdn.s3.amazonaws.com/can-uploader/navigation-VI-svg1.svg"
                                    alt="Search">
                                <img class="w-5 dark:block hidden"
                                    src="https://tuk-cdn.s3.amazonaws.com/can-uploader/navigation-VI-svg1dark.svg"
                                    alt="Search">
                            </div>
                            <input type="text" placeholder="Search for products"
                                class="text-sm text-gray-600 dark:text-gray-300 focus:outline-none bg-transparent" />
                        </div>
                        <button onclick="closeMenu()" aria-label="close menu"
                            class="focus:outline-none focus:ring-2 focus:ring-gray-800">
                            <img class="dark:hidden"
                                src="https://tuk-cdn.s3.amazonaws.com/can-uploader/navigation-VI-svg6.svg" alt="close">
                            <img class="dark:block hidden"
                                src="https://tuk-cdn.s3.amazonaws.com/can-uploader/navigation-VI-svg6dark.svg"
                                alt="close">
                        </button>
                    </div>
                    <div class="mt-8">
                        <ul class="flex flex-col space-y-8">
                            <li class="flex items-center justify-between">
                                <a href="#"
                                    class="dark:text-white text-base text-gray-800 focus:outline-none focus:ring-2 focus:ring-gray-800 hover:underline">Home</a>
                                <button class="fill-stroke text-black dark:text-white" aria-label="show options"
                                    class="focus:outline-none focus:ring-2 focus:ring-gray-800 hover:bg-gray-100">
                                    <img class=" dark:hidden"
                                        src="https://tuk-cdn.s3.amazonaws.com/can-uploader/navigation-VI-svg7.svg"
                                        alt="arrow">
                                    <img class=" dark:block hidden"
                                        src="https://tuk-cdn.s3.amazonaws.com/can-uploader/navigation-VI-svg7dark.svg"
                                        alt="arrow">
                                </button>
                            </li>
                            <li class="flex items-center justify-between">
                                <a href="#products"
                                    class="dark:text-white text-base text-gray-800 focus:outline-none focus:ring-2 focus:ring-gray-800 hover:underline">Shop</a>
                                <button class="fill-stroke text-black dark:text-white" aria-label="show options"
                                    class="focus:outline-none focus:ring-2 focus:ring-gray-800 hover:bg-gray-100">
                                    <img class=" dark:hidden"
                                        src="https://tuk-cdn.s3.amazonaws.com/can-uploader/navigation-VI-svg7.svg"
                                        alt="arrow">
                                    <img class=" dark:block hidden"
                                        src="https://tuk-cdn.s3.amazonaws.com/can-uploader/navigation-VI-svg7dark.svg"
                                        alt="arrow">
                                </button>
                            </li>
                            <li class="flex items-center justify-between">
                                <a href="../admin.html"
                                    class="dark:text-white text-base text-gray-800 focus:outline-none focus:ring-2 focus:ring-gray-800 hover:underline">Pages</a>
                                <button class="fill-stroke text-black dark:text-white" aria-label="show options"
                                    class="focus:outline-none focus:ring-2 focus:ring-gray-800 hover:bg-gray-100">
                                    <img class=" dark:hidden"
                                        src="https://tuk-cdn.s3.amazonaws.com/can-uploader/navigation-VI-svg7.svg"
                                        alt="arrow">
                                    <img class=" dark:block hidden"
                                        src="https://tuk-cdn.s3.amazonaws.com/can-uploader/navigation-VI-svg7dark.svg"
                                        alt="arrow">
                                </button>
                            </li>
                            <li class="flex items-center justify-between">
                                <a href="javascript:void(0)"
                                    class="dark:text-white text-base text-gray-800 focus:outline-none focus:ring-2 focus:ring-gray-800 hover:underline">Blog</a>
                                <button class="fill-stroke text-black dark:text-white" aria-label="show options"
                                    class="focus:outline-none focus:ring-2 focus:ring-gray-800 hover:bg-gray-100">
                                    <img class=" dark:hidden"
                                        src="https://tuk-cdn.s3.amazonaws.com/can-uploader/navigation-VI-svg7.svg"
                                        alt="arrow">
                                    <img class=" dark:block hidden"
                                        src="https://tuk-cdn.s3.amazonaws.com/can-uploader/navigation-VI-svg7dark.svg"
                                        alt="arrow">
                                </button>
                            </li>
                            <li class="flex items-center justify-between">
                                <a href="javascript:void(0)"
                                    class="dark:text-white text-base text-gray-800 focus:outline-none focus:ring-2 focus:ring-gray-800 hover:underline">Contact
                                    us</a>
                                <button class="fill-stroke text-black dark:text-white" aria-label="show options"
                                    class="focus:outline-none focus:ring-2 focus:ring-gray-800 hover:bg-gray-100">
                                    <img class=" dark:hidden"
                                        src="https://tuk-cdn.s3.amazonaws.com/can-uploader/navigation-VI-svg7.svg"
                                        alt="arrow">
                                    <img class=" dark:block hidden"
                                        src="https://tuk-cdn.s3.amazonaws.com/can-uploader/navigation-VI-svg7dark.svg"
                                        alt="arrow">
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Search menu -->
        <div id="mobile-search-menu"
            class="hidden md:hidden absolute inset-0 z-10 flex flex-col w-full h-screen bg-white dark:bg-gray-900 pt-4">
            <div class="w-full">
                <div class="flex items-center justify-between border-b border-gray-200 pb-3 mx-4">
                    <div class="flex items-center space-x-3 mx-2">
                        <div>
                            <img class="w-5 dark:hidden"
                                src="https://tuk-cdn.s3.amazonaws.com/can-uploader/navigation-VI-svg1.svg" alt="Search">
                            <img class="w-5 dark:block hidden"
                                src="https://tuk-cdn.s3.amazonaws.com/can-uploader/navigation-VI-svg1dark.svg"
                                alt="Search">
                        </div>
                        <input type="text" placeholder="Search for products"
                            class="text-sm text-gray-600 focus:outline-none bg-transparent" />
                    </div>

                    <button aria-label="close menu" onclick="closeSearchMenu()"
                        class="text-gray-800 dark:text-white focus:outline-none focus:ring-2 focus:ring-gray-800">
                        <img class="dark:hidden"
                            src="https://tuk-cdn.s3.amazonaws.com/can-uploader/navigation-VI-svg6.svg" alt="close">
                        <img class="dark:block hidden"
                            src="https://tuk-cdn.s3.amazonaws.com/can-uploader/navigation-VI-svg6dark.svg" alt="close">
                    </button>
                </div>
            </div>
            <div class="mt-8 mx-4">
                <h2 class="text-sm text-gray-600 dark:text-gray-300 uppercase">Suggestions</h2>
                <ul class="mt-6 flex flex-col space-y-6">
                    <li class="flex items-center justify-between">
                        <a href="javascript:void(0)"
                            class="text-sm text-gray-600 dark:text-white focus:outline-none focus:ring-2 focus:ring-gray-800 hover:underline">Bags</a>
                    </li>
                    <li class="flex items-center justify-between">
                        <a href="javascript:void(0)"
                            class="text-sm text-gray-600 dark:text-white focus:outline-none focus:ring-2 focus:ring-gray-800 hover:underline">Shoes</a>
                    </li>
                    <li class="flex items-center justify-between">
                        <a href="javascript:void(0)"
                            class="text-sm text-gray-600 dark:text-white focus:outline-none focus:ring-2 focus:ring-gray-800 hover:underline">Capes</a>
                    </li>
                    <li class="flex items-center justify-between">
                        <a href="javascript:void(0)"
                            class="text-sm text-gray-600 dark:text-white focus:outline-none focus:ring-2 focus:ring-gray-800 hover:underline">Coats</a>
                    </li>
                    <li class="flex items-center justify-between">
                        <a href="javascript:void(0)"
                            class="text-sm text-gray-600 dark:text-white focus:outline-none focus:ring-2 focus:ring-gray-800 hover:underline">Denim
                            2021</a>
                    </li>
                    <li class="flex items-center justify-between">
                        <a href="javascript:void(0)"
                            class="text-sm text-gray-600 dark:text-white focus:outline-none focus:ring-2 focus:ring-gray-800 hover:underline">Leather
                            shoe collection 2021</a>
                    </li>
                    <li class="flex items-center justify-between">
                        <a href="javascript:void(0)"
                            class="text-sm text-gray-600 dark:text-white focus:outline-none focus:ring-2 focus:ring-gray-800 hover:underline">Active
                            wear</a>
                    </li>
                    <li class="flex items-center justify-between">
                        <a href="javascript:void(0)"
                            class="text-sm text-gray-600 dark:text-white focus:outline-none focus:ring-2 focus:ring-gray-800 hover:underline">Sweat
                            suits</a>
                    </li>
                </ul>
            </div>
            <div class="w-full h-full flex items-end">
                <ul class="bg-gray-50 dark:bg-gray-800 py-10 px-4 flex flex-col space-y-8 w-full">
                    <li>
                        <a class="flex items-center space-x-2 text-gray-800 dark:text-white focus:outline-none focus:ring-2 focus:ring-gray-800 hover:underline"
                            href="#cart">
                            <div>
                                <img class=" dark:hidden" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/navigation-VI-svg5.svg

" alt="bag">
                                <img class=" dark:block hidden"
                                    src="https://tuk-cdn.s3.amazonaws.com/can-uploader/navigation-VI-svg5dark.svg"
                                    alt="bag">
                            </div>
                            <p class="text-base">Cart</p>
                        </a>
                    </li>
                    <li>
                        <a class="flex items-center space-x-2 text-gray-800 dark:text-white focus:outline-none focus:ring-2 focus:ring-gray-800 hover:underline"
                            href="javascript:void(0)">
                            <div>
                                <img class=" dark:hidden"
                                    src="https://tuk-cdn.s3.amazonaws.com/can-uploader/navigation-VI-svg4.svg"
                                    alt="favourites">
                                <img class=" dark:block hidden"
                                    src="https://tuk-cdn.s3.amazonaws.com/can-uploader/navigation-VI-svg4dark.svg"
                                    alt="favourites">
                            </div>
                            <p class="text-base">Wishlist</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Main Menu -->

        <div id="mobile-menu"
            class="hidden md:hidden absolute inset-0 z-10 flex flex-col w-full h-screen bg-white pt-4">
            <div class="w-full">
                <div class="flex items-center justify-between border-b border-gray-200 pb-4 mx-4">
                    <div></div>
                    <div>
                        <p class="text-base font-semibold text-gray-800">Menu</p>
                    </div>
                    <button aria-label="close menu" onclick="closeSmMenu()"
                        class="text-gray-800 dark:text-white focus:outline-none focus:ring-2 focus:ring-gray-800">
                        <img class="dark:hidden"
                            src="https://tuk-cdn.s3.amazonaws.com/can-uploader/navigation-VI-svg6.svg" alt="close">
                        <img class="dark:block hidden"
                            src="https://tuk-cdn.s3.amazonaws.com/can-uploader/navigation-VI-svg6dark.svg" alt="close">
                    </button>
                </div>
            </div>
            <div class="mt-6 mx-4">
                <ul class="flex flex-col space-y-8">
                    <li class="flex items-center justify-between">
                        <a href="#"
                            class="text-base text-gray-800 focus:outline-none dark:text-white focus:ring-2 focus:ring-gray-800 hover:underline">Home</a>
                        <button
                            class="focus:outline-none focus:ring-2 text-black dark:text-white focus:ring-gray-800 rounded hover:bg-gray-100 p-0.5">
                            <img class=" dark:hidden"
                                src="https://tuk-cdn.s3.amazonaws.com/can-uploader/navigation-VI-svg7.svg" alt="arrow">
                            <img class=" dark:block hidden"
                                src="https://tuk-cdn.s3.amazonaws.com/can-uploader/navigation-VI-svg7dark.svg"
                                alt="arrow">
                        </button>
                    </li>
                    <li class="flex items-center justify-between">
                        <a href="#products"
                            class="text-base text-gray-800 focus:outline-none dark:text-white focus:ring-2 focus:ring-gray-800 hover:underline">Shop</a>
                        <button
                            class="focus:outline-none focus:ring-2 text-black dark:text-white focus:ring-gray-800 rounded hover:bg-gray-100 p-0.5">
                            <img class=" dark:hidden"
                                src="https://tuk-cdn.s3.amazonaws.com/can-uploader/navigation-VI-svg7.svg" alt="arrow">
                            <img class=" dark:block hidden"
                                src="https://tuk-cdn.s3.amazonaws.com/can-uploader/navigation-VI-svg7dark.svg"
                                alt="arrow">
                        </button>
                    </li>
                    <li class="flex items-center justify-between">
                        <a href="../admin.html"
                            class="text-base text-gray-800 focus:outline-none dark:text-white focus:ring-2 focus:ring-gray-800 hover:underline">Pages</a>
                        <button
                            class="focus:outline-none focus:ring-2 text-black dark:text-white focus:ring-gray-800 rounded hover:bg-gray-100 p-0.5">
                            <img class=" dark:hidden"
                                src="https://tuk-cdn.s3.amazonaws.com/can-uploader/navigation-VI-svg7.svg" alt="arrow">
                            <img class=" dark:block hidden"
                                src="https://tuk-cdn.s3.amazonaws.com/can-uploader/navigation-VI-svg7dark.svg"
                                alt="arrow">
                        </button>
                    </li>
                    <li class="flex items-center justify-between">
                        <a href="javascript:void(0)"
                            class="text-base text-gray-800 focus:outline-none dark:text-white focus:ring-2 focus:ring-gray-800 hover:underline">Blog</a>
                        <button
                            class="focus:outline-none focus:ring-2 text-black dark:text-white focus:ring-gray-800 rounded hover:bg-gray-100 p-0.5">
                            <img class=" dark:hidden"
                                src="https://tuk-cdn.s3.amazonaws.com/can-uploader/navigation-VI-svg7.svg" alt="arrow">
                            <img class=" dark:block hidden"
                                src="https://tuk-cdn.s3.amazonaws.com/can-uploader/navigation-VI-svg7dark.svg"
                                alt="arrow">
                        </button>
                    </li>
                    <li class="flex items-center justify-between">
                        <a href="javascript:void(0)"
                            class="text-base text-gray-800 focus:outline-none dark:text-white focus:ring-2 focus:ring-gray-800 hover:underline">Contact
                            us</a>
                        <button
                            class="focus:outline-none focus:ring-2 text-black dark:text-white focus:ring-gray-800 rounded hover:bg-gray-100 p-0.5">
                            <img class=" dark:hidden"
                                src="https://tuk-cdn.s3.amazonaws.com/can-uploader/navigation-VI-svg7.svg" alt="arrow">
                            <img class=" dark:block hidden"
                                src="https://tuk-cdn.s3.amazonaws.com/can-uploader/navigation-VI-svg7dark.svg"
                                alt="arrow">
                        </button>
                    </li>
                </ul>
            </div>
            <div class="w-full h-full flex items-end">
                <ul class="bg-gray-50 dark:bg-gray-800 py-10 px-4 flex flex-col space-y-8 w-full">
                    <li>
                        <a class="flex items-center space-x-2 focus:outline-none focus:ring-2 focus:ring-gray-800 hover:underline"
                            href="#cart">
                            <div>
                                <img class=" dark:hidden"
                                    src="https://tuk-cdn.s3.amazonaws.com/can-uploader/navigation-VI-svg5.svg"
                                    alt="bag">
                                <img class=" dark:block hidden"
                                    src="https://tuk-cdn.s3.amazonaws.com/can-uploader/navigation-VI-svg5dark.svg"
                                    alt="bag">
                            </div>
                            <p class="text-base text-gray-800">Cart</p>
                        </a>
                    </li>
                    <li>
                        <a class="flex items-center space-x-2 focus:outline-none focus:ring-2 focus:ring-gray-800 hover:underline"
                            href="javascript:void(0)">
                            <div>
                                <img class=" dark:hidden"
                                    src="https://tuk-cdn.s3.amazonaws.com/can-uploader/navigation-VI-svg4.svg"
                                    alt="favourites">
                                <img class=" dark:block hidden"
                                    src="https://tuk-cdn.s3.amazonaws.com/can-uploader/navigation-VI-svg4dark.svg"
                                    alt="favourites">
                            </div>
                            <p class="text-base text-gray-800">Wishlist</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>